.headerSection {
    display: flex;
    justify-content: space-between;
    margin:20px;
}
.eachBookDiv {
    width:200px;
    border:1px solid gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;
    
}
.totalBooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.search {
    height:40px;
    width:300px;
    border:1px solid gray
}
.addButton {
    width:100px;
    height: 40px;
    background-color:green;
    border:0px;
    border-radius: 10px;
    color: white;
}
.deleteIcon {
    width: 30px;
    background-color: green;
    text-align: center;
    color: white;
}
.loading {
    color:red;
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    
}

.bookInfo {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.bookSubmitButton {
    width:100px;
    height: 40px;
    background-color: blue;
    color: white;
    border:0px;
}
.bookFooter {
    display: flex;
    justify-content: space-around;
    width:100%;
}